/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.object-cover{
    border-radius:.75rem;
}

/* 主题色 */
.text-indigo-400{
    color: rgb(204 150 0/var(--tw-text-opacity));
}
.hover\:text-indigo-700:hover{
    color: rgb(253 183 0/var(--tw-text-opacity));
}
.hover\:text-indigo-600:hover {
    color: rgb(253 183 0/var(--tw-text-opacity));
}
.hover\:border-indigo-500:hover {
    border-color: rgb(253 183 0/var(--tw-border-opacity));
}
.hover\:bg-indigo-400:hover {
    background-color: rgb(255 183 0/var(--tw-bg-opacity));
}
.bg-indigo-500 {
    background-color: rgb(253 183 0/var(--tw-bg-opacity));
}
.hover\:bg-indigo-300:hover{
    background-color: rgb(253 183 0/var(--tw-bg-opacity));
}
.bg-indigo-600 {
    background-color: rgb(255 183 0/var(--tw-bg-opacity));
}
.text-indigo-600 {
    color: rgb(255 183 0/var(--tw-text-opacity));
}
.notion-table-of-contents-item {
    color: rgb(204 150 0/var(--tw-text-opacity));
}

#blog-post-card{
    transition-property:all;
    transition-duration: .18s;
}
#blog-post-card:hover{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* 背景图 */
@-webkit-keyframes bgscroll {
	100% {background-position: -1920px -1470px;}
}
#wrapper{
 	width: 100%;
	height: 100%;
	background: url(mv-bg.png) repeat;
	-webkit-animation: bgscroll 68s linear infinite;
	background-image: url('https://bu.dusays.com/2023/06/12/6486ea6262fdd.webp');
}

.border {
     border-width:0px; 
}

.notion-h1 {
    border-bottom-width: 0px
}

.notion-collection-card{
    border-radius:8px;
}

/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}

.tk-meta-input :nth-child(3) { display:none; }


/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

/************ twikoo评论中的背景框样式调整 ************/
#twikoo .tk-content {
    background: rgb(235 235 235 / 60%);
    padding: 10px 15px;
    border-radius: 10px;
}

.tk-content * {
    margin: 0;
}
/************ twikoo评论中的背景框样式调整 ************/

/* 收起/展开的长条按钮样式 */
.tk-expand {
  background: var(--card-bg);
  border: 1px solid #e0e3ed;
  box-shadow: 0 5px 10px rgb(189 189 189 / 10%);
  transition: all .3s ease-in-out;
  border-radius: 12px;
}
